---
---
@import "minima";

.site-nav {
  display: none !important;
}

/* Customizações para os posts */
.post-content {
  h2 {
    font-size: 1.85rem;
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 8px;
    font-weight: 600;
    color: #111;
  }

  h3 {
    font-size: 1.45rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #333;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
  }
}
